@media screen and (max-width: 992px){
    .nav-link{
        font-size: 16px;
    }
}
@media screen and (max-width: 768px){
    .nav-link{
        font-size: 12px;
        margin: 1px;
        margin-left: 5px;
    }
    footer{
        font-size: 15px;
    }
    p{
        font-size: 20px;
    }
}
@media screen and (max-width: 576px){
    .nav-link{
        font-size: 9px;
        margin: 1px;
    }
    .info{
        font-size: 15px;
    }
    .p{
        font-size: 15px
    }
    footer{
        font-size: 5px;
    }
}